<html>
<head>
<style>
footer {
  text-align: center;
  padding: 1px;
  background-color: rgb(114, 129, 212);
  color: white;
}
</style>
</head>
</html>
<footer>
<h4>Copyright 2020 by NTD</h4>
</footer>