<html>
    <head>
        <style>
header {
  padding: 1px;
  text-align: center;
  background: #1abc9c;
  color: rgb(37, 87, 161);
  font-size: 20px;
}</style>
</head>
</html>
<h1 style="color: red;">TOY WEB</h1>
<header>
<ul>
    <a href="/search"><button>Search</button></a></li>
    <a href="/insert"><button>Add</button></a></li>
</ul>
</header>