<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert a new Product</title>
</head>
<body style="background-color: aqua;">
    <form action="/doInsert" method="post">
        Name <input type="text" name="txtName" id="">
        {{error.name}}
        <br>
        Description <input type="text" name="txtDescription" id="">
        <br>
        Color <input type="text" name="txtColor" id="">
        <Br>
        Price <input type="text" name="txtPrice" id="">
        {{error.price}}
        <br>
        <input type="submit" value="Insert">
    </form>
</body>
</html>